@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: red;
  color: white; 
}


button, input, textarea{
  color: black;
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgb(83, 215, 255); 
}
